@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/** Browser Resets **/
*,
*::before,
*::after {
  box-sizing: border-box;
};

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}